*{
    padding: 0px;
    margin: 0px;
}

.color1{
    background-color: azure;
}

.color2{
    background-color: whitesmoke;
}

.nav-item a:hover{  
    color: rgb(52, 112, 242);
    font-weight: bold;
    font-size: 20px;
}